  .container {
    display: flex;
    flex-direction: row;
  }

  .Image,
  .about {
    margin: 10px;
    flex: 1;
    padding: 20px;
  }



  /* Ensure paragraphs don't stretch to full width */
  .Image 
  {width: 95%;
  }
  .about {
    width: 100%;
  }
